/* Spinner.css */

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to 100% of the viewport height */
  }
  
  .spinner-image {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
  }
  